<!-- <mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title>Order history</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table>
      <tr>
        <th>Order Date</th>
        <th>Total Items</th>
        <th>Total Value</th>
        <th>Order Status</th>
      </tr>
      <tr>
        <td>01.01.2024</td>
        <td>4</td>
        <td>100 €</td>
        <td>Delivered</td>
      </tr>
   
    </table>
  </mat-card-content>
</mat-card>

<button class="add-order-btn" mat-fab color="primary" matTooltip="Add order" [matTooltipPosition]="positionOptions[1]" (click)="openOrderDialog()">
  <mat-icon>add</mat-icon>
</button> -->

<!-- <tr *ngFor="let user of allUsers">
        <td>{{ user.firstName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.city }}</td>
      </tr> -->
