.user-detail-header {
  min-height: 250px;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  padding: 16px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  .user-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 32px;
    height: 100px;

    h2 {
      margin-bottom: 0;
    }
  }
}

.edit-user-wrapper {
  display: flex;
  width: 100%;
  gap: 24px;

  .edit-details {
    width: 100%;

    mat-card-header {
      justify-content: center;
      margin-bottom: 16px;
    }

    mat-card-content {
      .user-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 12px;

        p,
        #text {
          margin: 0 0;
          font-size: 16px;
        }
      }
    }
  }
}

.pin-right-upper-corner-header {
  position: absolute;
  top: 0;
  right: 0;
}

.pin-right-upper-corner {
  position: absolute;
  top: 6px;
  right: 0;
}

.pin-right-down-corner {
  position: absolute;
  bottom: 0 !important;
  right: 0;
}

.add-order-btn {
  position: absolute;
  bottom: 56px;
  right: 56px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
