.add-user-btn {
  position: absolute;
  bottom: 56px;
  right: 56px;
}

.search {
  background-color: #3f51b5;
  margin-bottom: 12px;

  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0 0;
      color: white;
      // font-size: 16px;
    }
  }
}

table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}
